version: "3.9"

networks:
  backend:

volumes:
  redis-data:

services:
  trib:
    image: ${DOCKERHUB_NAMESPACE}/trib-docker-hub:${IMAGE_TAG}
    container_name: trib-app
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    volumes:
      - /home/ubuntu/secrets:/secrets:ro
    depends_on:
      redis:
        condition: service_healthy
    networks: [backend]
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    env_file:
      - .env.prod
    command: >
      redis-server
      --protected-mode yes
      --requirepass ${REDIS_PASSWORD}
      --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      retries: 10
    volumes:
      - redis-data:/data
    networks: [backend]
    restart: unless-stopped